<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
	<div class="row">

		<div class="col p-t-30 p-l-15 p-r-15 respon3">
			<h4 class="s-text12 p-b-30">
				POLITÉCNICO GRANCOLOMBIANO
			</h4>

			<div>
				<p class="s-text7 w-size27">
					Star Wars Proyect with Angularjs
					<br>
					Front End
				</p>

				<div class="flex-m p-t-30">
					<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
				</div>
			</div>
		</div>

		<div class="col p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="s-text12 p-b-30">
				Participants
			</h4>

			<ul>
				<li class="p-b-9" *ngFor="let item of collaborators">
					<a href="#" class="s-text7">
						{{item.name}}
					</a>
				</li>
			</ul>
		</div>

		<div class="col p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="s-text12 p-b-30">
				Menu
			</h4>

			<ul>
				<li *ngFor="let e of menu" class="p-b-9">
					<a (click)="getAll(e)" class="s-text7">
						{{e.display}}
					</a>
				</li>
			</ul>
		</div>

		<div class="col p-t-30 p-l-15 p-r-15 respon3">
			<h4 class="s-text12 p-b-30">
				Git Hub Link
			</h4>

			<form>
				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Conoce nuestro trabajo en GitHub
						</a>
					</li>
				</ul>

				<div class="w-size2 p-t-20">
					<!-- Button -->
					<a class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" target="blank"
						href="https://github.com/Jair333771/starwars/pulse/monthly">
						Ver enlace
					</a>
				</div>

			</form>
		</div>
	</div>

	<div class="t-center p-l-15 p-r-15">
		<div class="t-center s-text8 p-t-20">
			Copyright © 2020 All rights reserved. | Politécnico gran Colombiano - Front-end
		</div>
	</div>

</footer>



<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>