.banner-sw {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/banner.jpg");
    background-attachment: fixed;
}

.list {
    &-group {
        &-title {
            text-transform: capitalize;
        }
    }
}

.cursor {
    &-pointer {
        cursor: pointer;
    }
}