<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">

        <div class="wrap_header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <img src="assets/images/icons/Starwars-logo.png" alt="IMG-LOGO">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">

                        <li *ngFor="let item of menu">
                            <span class="cursor-pointer" (click)="getAll(item)">{{item.display}}</span>
                        </li>
                        
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">
                <a href="{{linkVideo}}" target="_blank" class="header-wrapicon1 dis-block header-icons-video">
                    <span target="blank" class="fa fa-youtube-play"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="index.html" class="logo-mobile">
            <img src="assets/images/icons/Starwars-logo.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a href="{{linkVideo}}" class="header-wrapicon1 dis-block">
                    <span target="blank" class="fa fa-youtube-play"></span>
                </a>

                <span class="linedivide2"></span>


            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">

                <li *ngFor="let item of menu" class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1 cursor-pointer" (click)="getAll(item)">{{item.display}}</span>
                </li>
                
            </ul>
        </nav>
    </div>
</header>